body{
    background-color: #E3EEFC;
    background-image: url(./background\ nb.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: center;
    margin: 0;
}
    header {
        display: inline-block;
        text-align: center;
        background-color: #FFFFFF;
        height: 76px;
        width: 100%;
        margin: 0px;
    }
        header > img {
            display: inline-block;
            height: 55px;
            margin-top: 10px;
        }
        .dropbox {
            float: left;
            text-decoration: none;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #7B8994;
            border: 3px solid #7B8994;
            border-radius: 10px;
            padding: 5px;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: 15px;
            margin-top: 15px;
        }
        .navigacija {
            display: inline-block;
            float: right;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 23px;
            margin-right: 30px;
            margin-top: 20px;
        }
        .link {
            display: inline-block;
            text-decoration: none;
            color: #0071E0;
        }
        .dot {
            display: inline-block;
            border-radius: 50%;
            width: 4px;
            height: 4px;
            background-color: #0071E0;
            margin: 10px;
        }
    .container {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: 50px;
    }
        .left-column {
            /* background-color: green; */
            text-align: center;
            width: 800px;
            margin-left: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50px, -50px);
        }
        h1 {
            display: inline-block;
            color: #47525D;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 34px;
            margin-left: 95px;
            line-height: 44px;
            margin-right: 231px;
        }
        p {
            color: #47525D;
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin-right: 300px;
            margin-top: -4px;
            margin-left: 15px;
        }
        .btn {
            display: inline-block;
            float: left;
            /* background-color: greenyellow; */
        }
        .blue-btn {
            display: inline-block;
            float: left;
            margin-left: 30px;
            background-color: #0071E0;
            color: #EFFFFF;
            font-size: 25px;
            text-decoration: none;
            padding: 12px;
            padding-left: 25px;
            padding-right: 25px;
            line-height: 20px;
            border-radius: 5px;
            cursor: pointer;
        }
        .basic-btn {
            display: inline-block;
            float: left;
            margin-left: 30px;
            background-color: #E2EEFC;
            color: #4971E2;
            border: 3px solid #0071E0;
            font-size: 26px;
            text-decoration: none;
            padding: 10px;
            padding-left: 25px;
            padding-right: 25px;
            line-height: 20px;
            border-radius: 5px;
            cursor: pointer;
        }
